{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
    <form method="post">{% csrf_token %}
        {% crispy form %}
        {% if query_result %}
            <br><br>
            <span>
            {% if  query_result == 'OK' %}
                {% if credit_amount %}
                    {% trans "Prev Credit Amount" %}: <b>{{ credit_amount }}</b>.
                {% endif %}
                {% if credit_tmc %}
                    {% trans "Amount TMC" %}: <b>{{ credit_tmc }}</b>.
                {% endif %}
                {% if credit_with_tmc %}
                    {% trans "New Amount" %}: <b>{{ credit_with_tmc }}</b>.
                {% endif %}
                {% if tmc_type_desc %}
                    <br><br><i>{{ tmc_type_desc }}</i>.
                {% endif %}
                {% if tmc_type_code %}
                    <br>{% trans "TMC Code" %}: <b>{{ tmc_type_code }}</b>.
                {% endif %}
                {% if tmc_type_value %}
                    {% trans "TMC Value" %}: <b>{{ tmc_type_value }}</b>.
                {% endif %}
            {% else %}
                {{ query_result }}
            {% endif %}
            </span>
        {% endif %}
    </form>
{% endblock %}
